nav a:hover{
    background:rgb(186, 192, 202);
    transition:0.5s;
    text-transform: uppercase;
    
     }
.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #000000;
        color: #FFFFFF;
    }
